@using Microsoft.AspNet.Identity
@model BikersDiary.ForumSystem.Data.Model.Post
@{
    ViewBag.Title = "Add new post";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="col-md-12">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.LabelFor(p => p.Title)
        @Html.EditorFor(p => p.Title)
        @Html.ValidationMessageFor(p => p.Title)
    </div>
    <br/>
    <div class="col-md-12">
        @Html.LabelFor(p => p.Content)
        @Html.TextAreaFor(p => p.Content)
    </div>
    <br/>
    <input type="submit" class="btn btn-success" value="Add" id="addPost" />
}