@using PagedList.Mvc
@using BikersDiary.ForumSystem.Web.Models.Home
@model PagedList.IPagedList<PostViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Forum</h2>
<h3>Here you can discuss various topics with your fellow bikers!</h3>

<div class ="panel">
    @using (Ajax.BeginForm("FilteredPosts", new { }, new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "postsPanel",
        InsertionMode = InsertionMode.Replace,
    }, new { id = "ajaxForm"} ))
    {
        <input data-ajax="true" type="text" name="searchTerm"/>
    }
</div>

<div class="panel" id="postsPanel">
    @foreach (var post in Model)
    {
        <div class="col-md-12">
            @Html.ActionLink(@post.Title, "Details", "Forum", new { id = post.Id }, new { @class = "" })
            <p>@post.Content</p>
            <p>@post.PostedOn - @post.AuthorEmail</p>
        </div>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $('[name="searchTerm"]').keyup(function() {
                $('#ajaxForm').submit();
            });
        })
    </script>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))