@using PagedList.Mvc
@model PagedList.IPagedList <BikersDiary.ForumSystem.Data.Model.Post>

<div class="col-md-12">
    <h2>All your posts:</h2>
    <ul class ="list-group">
        @foreach (var post in Model)
        {
            <li class="list-group-item">
                @Html.ActionLink(@post.Title, "Details", "Forum", new { id = post.Id }, new { @class = "" })
                <p>@Html.DisplayFor(p => post.Content)</p>
            </li>
            <br />
        }
    </ul>       
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, UserName = this.User.Identity.Name }))